@model dynamic

@{
	ViewBag.Title = "title";
}

<h2>Тестовый ASP.NET MVC сервис</h2>
Web приложение написано в стеке ASP.NET MVC:
<ul>
	<li>база данных на MS SQL Server</li>
	<li>ORM - Entity Framework</li>
	<li>применяется dependency injection (Unity) для хранилища данных</li>
	<li>в качестве css-фреймворка используется Bootstrap</li>
	<li>для трансформации моделей БД в модели MVC используется Auto-mapper</li>
</ul>
Приложение состоит из одной странички со списком пользователей с полями имя, фамилия, телефон, почта.
Поля имя и фамилия обязательные для заполнения, телефон и адрес почты должен проверятся на допустимый формат.
Проверка валидности полей осуществляется на клиентской и серверной сторонах.
<br>
Операции добавления, удаления, редактирования происходят через модальное окно. Обновление списка осуществляется без перезагрузки страницы. 
